body
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	color: white;
	font-size: 24px;
	background: url(../img/back.jpg) no-repeat center center fixed;
}

#startbutton {
	background-color: red;
	color: white;
	min-width:100px;
    height:50px;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 3px 5px 6px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(-1%, -3%);
}

#startbutton:hover {
    background-color: lightgrey;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(-1%, -1%);
    transition: all 0.1s ease-in;
	color: blue;
}

#startbutton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}